
  body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 0.01rem;
    font-size: 22px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
  html{
    height: 100%!important;
  }
